body a{
    text-decoration: none;
}

.value-info {
    display: flex;
    flex-direction: column;
    line-height: 15px;
}
    .value-info p {
        font-size: smaller;
        margin-bottom: 0;
    }

.modal-cart{
    z-index: 10; 
    background-color: rgba(0, 0, 0, 0.5);
}
    .modal-inner-cart{
        width: 90vw;
        min-width: 10rem;
        max-width: 30rem;
    }

.cart-item{
    width: 100%;
}
    .cart-item>div>span{
        font-size: small;
    }
        
.amount-button{
    border: solid 1px black;
    border-radius: 10px;
    padding: .3rem .5rem .3rem .5rem;
}

.nav-logo{
    margin: 1rem 0 1rem 0;
    height: 5rem;
    border-bottom: solid .5px blanchedalmond;
}

.carousel-indicators img{
    width: 70px;
    display: block;
}

.carousel-indicators button{
    width: max-content!important;
}

.carousel-indicators{
    position: unset!important;
}
