body{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url(../imgs/servicos/espelho/espelho_B.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-container{
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12rem;
}

div a{
    text-decoration: none;
    color: white !important;
    text-align: center;
    background-color: lightseagreen;
    border-radius: 75px;
    margin-top: 2rem;
    padding: .5rem;
    width: 8rem;
    box-shadow: 1px 1px 10px black;
}

a:hover{
    transform: scale(1.05);
    transition: .2s;
}